* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "microsoft-yahei";
    color: #14191e;
}

a {
    text-decoration: none;
}

a:link, a:visited {
   color: #5e5e5e; 
}


.main {
    width: 1200px;
    height: 460px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}


/* 焦点图 */
.banner {
    width: 1200px;
    height: 460px;
   overflow: hidden;
}

.banner-slide {
    width: 1200px;
    height: 460px;
    float: left;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url(../img/bg1.jpg);
}
.slide2 {
    background-image: url(../img/bg2.jpg);
}

.slide3 {
    background-image: url(../img/bg3.jpg);
}

.button {
    position: absolute;
    width: 40px;
    height: 80px;
    left: 244px;
    top: 50%;
    background: url(../img/arrow.jpg) center center no-repeat;
    margin-top: -40px;
    transform: rotate(180deg);
}

.next {
    left: auto;         /* 当left与right的值同时出现时, 除非left值设置为auto, 否则不会优先使用right。top和bottom也是一样 */
    right: 0;
    transform: rotate(0deg);
}

.dots {
    position: absolute;
    right: 24px;
    bottom: 24px;
    line-height: 12px;
}

.dots span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rbga(7, 17, 27, 0.4);
    margin-left: 8px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7) inset;
    cursor: pointer;
}

.dot span.active {
    background-color: #fff;
    box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
}

.menu-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 244px;
    height: 460px;
    background: rgba(7, 17, 27, 0.5);
    z-index: 1;
}

/* 主菜单 */
.menu-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 244px;
    height: 460px;
    z-index: 2;
}

.menu-item {
    height: 64px;
    line-height: 66px;
    font-size: 12px;
    cursor: pointer;
    padding: 0 24px;
}

.menu-item a{
    display: block;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 63px;
    padding: 0 8px;
    position: relative;
}

.menu-item:last-child a{
    border-bottom: none;
}

.menu-item i {
    position: absolute;
    right: 32px;
    top: 2px;
    color: rgba(255, 255, 255, 0.5);
    font-style: normal;
    font-weight: normal;

}